

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

header div{
    display: flex;
    justify-content: center;
    align-items: center;
}

header span{
  color: #FFFFFF;
}

img{
    width: 14rem;
    height: 14rem;
}

.botao-fechar{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    color: #FFFFFF;
}

.cliente-container header .button{
    width: 20rem;
    margin: auto;
    
}

.cliente-container header span{
    font-size: 2.5rem;
}

.pesquisa{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pesquisa button{
    width: 50%;
}

.teste{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;*/

    background-color: #6C63FF;
    width: 40%;
    border-radius: 1.5rem;
  }

  .card .container{
    font-size: 1.5rem;
  }
  
  .card:hover {
   /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);*/
   filter: brightness(80%)
  }
  
  .container {
    display: flex;
    flex-direction: column;
    padding: 2px 16px;

    color: #FFFFFF;
  }

  .card-botao {
    padding: 2px 16px;
  }

  form{
    display: flex;
    flex-wrap: nowrap;
  }
